<h1>Chat Bot</h1>
<div class="message-container">




<ng-container *ngFor="let message of messages | async">

  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
    {{ message.content }}
  </div>

</ng-container>

<br>
<div class="input-container">
<input class="message-form" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" placeholder="Talk to me">
<button class="message-button" (click)="sendMessage()">Send</button> 
</div>
</div>