.message-container {
  background: #ffffff;
  height: 100%;
  text-align: center;
  display:block;
  margin: 8px;
 }


 .input-container {
  width:100%;
}

 .message-form {
  width: 65%;
  display:inline-block;
}
.message-button {
  border: 1px solid #0087FF;
  background-color: #1B85E2;
  width: 30%;
  margin-left: 5px;
  float:right;  
}