html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  
}
.message {
    border-radius: 50px;
    margin: 0 auto;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #54C7FC;
    color: #fff;
    margin-left: 100px;
    text-align: right;
    margin-bottom:10px;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}